/* TODO Add site wide styles */

.splash {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
}

.errors-container {
  display: flex;
  justify-self: center;
  padding: 0px 20px 25px;
  color: red;
  text-align: center;
}
