/* TODO Add site wide styles */

.splash-form-container {
  background-color: white;
  border: 1px solid black;
  height: 400px;
  width: 300px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 0 10px;
}
